.one{
    background-color: gold;
    height: 250px;
}
.two{
    background-color: indianred;
    height: 250px;
}
.tree{
    background-color: aquamarine;
    height: 250px;

}
.four{
    background-color: red;
    height: 250px;
}